/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #070707;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

.logo {
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--primary-color);
    letter-spacing: 1px;
}

/* Contenedor nav + botones */
.header-right {
    display: flex;
    align-items: center;
    gap: 20px; /* espacio entre nav y botones */
}

/* Nav links */
nav a {
    color: var(--text-color);
    text-decoration: none;
    margin: 0 10px;
    font-weight: 500;
    transition: color 0.3s;
}

nav a:hover {
    color: var(--primary-color);
}

/* Contenedor de botones */
.auth-buttons {
    display: flex;
    gap: 10px;  /* espacio entre los botones */
}

/* Botones */
.auth-buttons .auth-button {
    background-color: var(--primary-color);
    color: #000;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
}

.auth-buttons .auth-button:hover {
    background-color: #00a3cc;
    transform: scale(1.05);
}
